/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

/*General Settings*/

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Encode+Sans:wght@100..900&family=Fredericka+the+Great&family=Indie+Flower&family=Kaushan+Script&family=Kurale&family=Lora:ital,wght@0,400..700;1,400..700&family=Luxurious+Roman&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Rasa:ital,wght@0,300..700;1,300..700&family=Rubik+Doodle+Shadow&family=Shadows+Into+Light&family=Sorts+Mill+Goudy:ital@0;1&family=Space+Grotesk:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

article{
    max-width: 70%;
    margin-left:auto;
    margin-right:auto;
  }

  body, html{
    text-align: center;
    margin:0;
    padding: 0;
  }

  *{
    margin: 0;
    padding: 0;
  }

/*about page*/
  .about-page{
    background-image: url('../images/background.png');
}

.about-page nav > ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    display: flex;
    padding: 0.04rem;
    padding-top: 0;
    list-style: none;
    justify-content: end;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem;

    background-color:#742861;
    border: 2px solid #004225;
  }


  @media(max-width:768px){
   .about-page nav > ul{
    display: flex;
    justify-content: center;
   }

}

.about-page nav a{
text-decoration: none;
color: inherit;
}

.about-page nav > ul li{
    font-family: Cabin Sketch, serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 6px;
    gap: 3.5rem;
    color:#A5A820;

  }

.about-page nav > ul li:hover{
color:#ECE0CD;
transform: scale(1.1);
filter: drop-shadow(0 0 6px black);
}


.sources h4{
    text-align: center;
    padding: 0.5rem;
    font-family: Sorts Mill Goudy, serif;
    font-size: 1.2rem;
}

.author h3{
    padding: 2rem;
    margin-top: 10rem;
    font-family: Sorts Mill Goudy, serif;
    font-size: 1.5rem;
}

.sources{
    padding: 3rem;
    background-color:#87804E;
    border: 2px solid #283204;
}

.sources a{
    color:#ECD8CD;

    }

 .sources a:hover{
        color:#742861;
        transform: scale(1.1);
        filter: drop-shadow(0 0 6px black);
        }

/*project page*/
.project-page{
    background-image: url('../images/background.png');
}

.project-page nav > ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    display: flex;
    padding: 0.04rem;
    padding-top: 0;
    list-style: none;
    justify-content: end;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem;

    background-color:#742861;
    border: 2px solid #004225;
  }


  @media(max-width:768px){
   .project-page nav > ul{
    display: flex;
    justify-content: center;
   }

}

.project-page nav a{
text-decoration: none;
color: inherit;
}

.project-page h3{
    padding: 2rem;
    margin-top: 10rem;
    font-family: Sorts Mill Goudy, serif;
    font-size: 1.5rem;
}

.project-page nav > ul li{
    font-family: Cabin Sketch, serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 6px;
    gap: 3.5rem;
    color:#A5A820;

  }

.project-page nav > ul li:hover{
color:#ECE0CD;
transform: scale(1.1);
filter: drop-shadow(0 0 6px black);
}


.project-list ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;
    
}

.project-list li{
    list-style: none;

    font-size: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Cabin Sketch, serif;
    font-weight: bold;
    transition: all 0.3s ease;

    color:#004225;

    background-color:#ECE0CD;
    border: 2px solid #004225;
}

.project-list li:hover{
    background-color: #87804E;
    color:#ECE0CD;
    border: 2px solid #004225;
}

.project-list a{
    text-decoration: none;
    color: inherit;
}

@media(max-width:768px){
    .project-list ul{
     display: flex;
     flex-direction: column;
     align-items: center;
    }

} 





/*home page*/
.home-page{
    background-image: url('../images/background.png');
}
.home-page h1{
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: -2vh;

    color:#004225;
    font-size: 5rem;
    font-family: Cabin Sketch, serif;
    font-weight: 400;
    max-width: 90%;
}

.home-page h2{
    margin-top: -2vh;
    margin-bottom: 5rem;
    font-family: Yrsa, serif;
    font-weight: 300;
    font-size: 2rem;

    color:#415B25;
}


@keyframes pulse{
    from{
        transform: scale(1);

    }

    to {
        transform: scale(1.03);
    }
}


#home .earth-img img{
    width: 100%;
    height: auto;
    max-width: 25rem;
    animation: pulse 1s ease-in-out infinite alternate;
}

.home-page nav > ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        
        display: flex;
        padding: 0.04rem;
        padding-top: 0;
        list-style: none;
        justify-content: end;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 3rem;

        background-color:#742861;
        border: 2px solid #004225;
      }


      @media(max-width:768px){
       .home-page nav > ul{
        display: flex;
        justify-content: center;
       }
    
    }

.home-page nav a{
    text-decoration: none;
    color: inherit;
}

.home-page nav > ul li{
        font-family: Cabin Sketch, serif;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding: 6px;
        gap: 3.5rem;
        color:#A5A820;

      }

.home-page nav > ul li:hover{
    color:#ECE0CD;
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px black);
}

.map-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.04rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem;
    padding-top: 0;
    list-style: none;
    
  
    background-color:#742861;
    border: 2px solid #004225;
  }

.map-nav a{
    text-decoration: none;
    color: inherit;
}


.map-nav .nav-left li{
    list-style: none;
    font-family: Yrsa, serif;
    font-size: 1.5rem;
    padding: 6px;
    color: white;
    
   
}
.map-nav .nav-center li{
    list-style: none;
    font-family: Cabin Sketch, serif;
    font-size: 1.5rem;
    padding: 6px;
    color: #A5A820;
    
}

.map-nav .nav-center{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/*
.map-page nav > ul li{
    font-family: Cabin Sketch, serif;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 6px;
    gap: 3.5rem;
    border: 2px;
    color:#81874E;
  }*/

.map-nav li:hover{
color:#ECE0CD;
transform: scale(1.1);
filter: drop-shadow(0 0 6px black);
}

#Started{
    font-family: Cabin Sketch, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;

    margin-bottom: 10vh;
    margin-top: 3rem;

    background-color:#ECE0CD;
    color:#004225;
    border: 2px solid #415B25;
 
}

#Started:hover{
    color: #ECE0CD;
    background-color:#81874E;
}


/*menu page*/
.modal-home{
    margin-bottom: 5rem;
}


.modal-home h1{
    font-family:Cabin Sketch, serif;
    font-size: 3rem;
    padding: 0;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.modal-home h2{
    margin-top: 10rem;
    font-family: Yrsa, serif;
    font-size: 2rem;
    font-weight: 300;
}

.home-headline{
    display: flex;
    justify-content: center;
    gap: 0;
}


p {
    font-size: 2em;
}

*{
    box-sizing: border-box;
}

.map-page{
    background-image:url('../images/background.png');
}



/*Menu Page Interact*/
.layout{
    display: grid;
    /*grid-template-columns: 160px auto 160px;*/
    grid-template-columns: minmax(0,1fr) auto minmax(0,1fr);
    align-items: center;
    justify-content: center;
    max-width:1200px;
    margin: 0 auto;
    gap: 10px;
}

.image-wrap svg{
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

svg path:hover{
    cursor: url('../images/stethoscope.svg'), auto;
}

@media(max-width:768px){
    .layout{
        grid-template-columns: 1fr;
        text-align:center;
    }

    .image-wrap svg{
        width: 100%;
        height: auto;
        display: block;
    }


}

.symptoms ul{
    justify-self: center;
    list-style-type: none;
    border: 2px;
    padding: 30px;
    width: fit-content;

    
    font-family: Yrsa, serif;
    font-size: 1.2rem;
    
    justify-content: space-between;
    gap: 30px;
}

.symptoms ul li{
    margin: 30px 0;
    display: none;
    font-family: Yrsa, serif;
    font-weight:300;
    font-size: 2rem;

    background-color:#81874E;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 2px solid #004225;

}

.symptoms ul li:hover{
    background-color:#742861;
}

.symptoms li.visible{
    display: list-item;
}

.symptoms a{
    text-decoration:none;
    color:#004225;
}

.symptoms a:hover{
    color:#ECE0CD;
}

.menu-interact{
    position: relative;
}

.image-wrap img{
    position: relative;
    z-index:1;
}





/*Map of Earth*/
.map-page h1{
    text-align: center;
    margin-top: 5rem;

    font-family: Cabin Sketch, serif;
    font-weight: 400;
    font-size: 3rem;
    color:#004225;
    padding: 1rem;
}

.map-page h2{
    font-family: Cabin Sketch, serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 1rem;
    color:#415B25;
    margin-bottom: 2rem;
    margin-top: -2rem;
}



.earth-overlap{
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*@keyframes rotateEarth{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}*/

.earth-img{
    height: auto;
}

.earth-img img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    animation: rotateEarth 30s linear infinite;
    transform-origin: center center;
}

.earth-img img:hover{
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse{
    from{
        transform: scale(1);

    }

    to {
        transform: scale(1.03);
    }
}

.map-page .earth-img img{
    animation: pulse 1s ease-in-out infinite alternate;
}

.all-btns{
    position: absolute;
    top: 45%;
    display: flex;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: auto;
}

.all-btns button{
    font-size: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Cabin Sketch, serif;
    font-weight: bold;
    transition: all 0.3s ease;

    color:#004225;

    background-color:#ECE0CD;
    border: 2px solid #004225;

}

@keyframes pulse{
    from{
        transform: scale(1);

    }

    to {
        transform: scale(1.03);
    }
}

.all-btns button:hover{
    cursor: url('../images/ship.svg'), auto;
    color:#ECE0CD;
    background-color:#8A8AB9;
    border: 2px solid #742861;
    animation: pulse 1s ease-in-out infinite alternate;
}

/*cultures and colors*/

/*cross-cultural*/
.cross{
    background:linear-gradient(to right, #C1272D 25%, #D4A017 26%, #D4A017 50%,
    #77C3B1 51%, #77C3B1 75%, #1B3B6F 76%);
}
.cross:hover{
    background: none;
}
.gradient-cross{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease;
}
.cross:hover .gradient-cross{
    background-image:linear-gradient(to right, #C1272D 25%, #D4A017 26%, #D4A017 50%,
    #77C3B1 51%, #77C3B1 75%, #1B3B6F 76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}


/*italy*/
.italy{
    background: linear-gradient(to right, #006847 33%, white 34%, white 66%, #CE1126 67%);
}
.italy:hover{
    background: none;
}
.gradient-italy{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: black;
    transition: all 0.3s ease;
}
.italy:hover .gradient-italy{
    background-image: linear-gradient(to right, #006847 33%, white 34%, white 66%, #CE1126 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}



/*china*/
.china{
    background: linear-gradient(to right, #CE1126 0%, #CE1126 100%);
}
.china:hover{
    background: none;
}
.gradient-china{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: gold;
    transition: all 0.3s ease;
}
.china:hover .gradient-china{
    background-image: linear-gradient(to right, #CE1126 0%, #CE1126 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*mexico*/
.mexico{
    background: linear-gradient(to right, #006847 33%, white 34%, white 66%, #CE1126 67%);
}
.mexico:hover{
    background: none;
}
.gradient-mexico{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: black;
    transition: all 0.3s ease;
}
.mexico:hover .gradient-mexico{
    background-image: linear-gradient(to right, #006847 33%, white 34%, white 66%, #CE1126 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*africa*/
.africa{
    background: linear-gradient(to right, #561217 25%,#F8B735 26%,
     #F8B735 50%, #F38218 51%, #F38218 75%, #2C6E63 76%);
}
.africa:hover{
    background: none;
}
.gradient-africa{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease;
}
.africa:hover .gradient-africa{
    background-image: linear-gradient(to right, #561217 25%,
    #F8B735 26%, #F8B735 50%, #F38218 51%, #F38218 75%, #2C6E63 76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*eastern europe*/
.eastern-europe{
    background: linear-gradient(to right, #131797 20%, #E4164C 21%, #E4164C 41%,
    #F7F4EB 42%, #F7F4EB 60%, #EE7D0D 61%, #EE7D0D 80%, #0E6632 80%);
}
.eastern-europe:hover{
    background: none;
}
.gradient-eastern-europe{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: black;
    transition: all 0.3s ease;
}
.eastern-europe:hover .gradient-eastern-europe{
    background-image: linear-gradient(to right, #131797 20%, #E4164C 21%, #E4164C 41%,
    #F7F4EB 42%, #F7F4EB 60%, #EE7D0D 61%, #EE7D0D 80%, #0E6632 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*ghana*/
.ghana{
    background: linear-gradient(to right, #EF3340 33%, #FFD100 34%, #FFD100 66%,
    #009739 67%);
}
.ghana:hover{
    background: none;
}
.gradient-ghana{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: black;
    transition: all 0.3s ease;
}
.ghana:hover .gradient-ghana{
    background-image: linear-gradient(to right, #EF3340 33%, #FFD100 34%, #FFD100 66%,
    #009739 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*arabic*/
.arabic{
    background: linear-gradient(to right, #B11C1F 25%, #BBA052 26%, #BBA052 50%,
    #8A356A 51%, #8A356A 75%, #2C346F 76%);
}
.arabic:hover{
    background: none;
}
.gradient-arabic{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease;
}
.arabic:hover .gradient-arabic{
    background-image:linear-gradient(to right, #B11C1F 25%, #BBA052 26%, #BBA052 50%,
    #8A356A 51%, #8A356A 75%, #2C346F 76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*poland*/
.poland{
    background:linear-gradient(to top, #DC143C  50%, white 51%);
}
.poland:hover{
    background: none;
}
.gradient-poland{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: black;
    transition: all 0.3s ease;
}
.poland:hover .gradient-poland{
    background-image:linear-gradient(to top, #DC143C 50%, white 51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}


/*ethiopia*/
.ethiopia{
    background:linear-gradient(to top, #EF3340  33%, #FEDD00 34%, #FEDD00 66%, 
    #009A44 67%);
}
.ethiopia:hover{
    background: none;
}
.gradient-ethiopia{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #0645B1;
    transition: all 0.3s ease;
}
.ethiopia:hover .gradient-ethiopia{
    background-image:linear-gradient(to top, #EF3340  33%, #FEDD00 34%, #FEDD00 66%, 
    #009A44 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*india*/
.india{
    background:linear-gradient(to top, #046A38 33%, white 34%, white 66%, 
    #FF671F 67%);
}
.india:hover{
    background: none;
}
.gradient-india{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #06038D;
    transition: all 0.3s ease;
}
.india:hover .gradient-india{
    background-image:linear-gradient(to top, #046A38 33%, white 34%, white 66%, 
    #FF671F 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

/*india*/
.egypt{
    background:linear-gradient(to top, black 33%, white 34%, white 66%, 
    #C8102E 67%);
}
.egypt:hover{
    background: none;
}
.gradient-egypt{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #C09300;
    transition: all 0.3s ease;
}
.egypt:hover .gradient-egypt{
    background-image:linear-gradient(to top, black 33%, white 34%, white 66%, 
    #C8102E 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}


/*jamaica*/
.jamaica{
    background:linear-gradient(to top, #009B3A 0%, #009B3A 100%);
}
.jamaica:hover{
    background: none;
}
.gradient-jamaica{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #FED100;
    transition: all 0.3s ease;
}
.jamaica:hover .gradient-jamaica{
    background-image:linear-gradient(to right, black 33%, #FED100 34%,  #FED100 66%, 
    #009B3A 67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}


/*europe*/
.europe{
    background:linear-gradient(to right, #1a2634 25%, 	#203e5f 26%, #203e5f 50%,
    #ffcc00 51%, #ffcc00 75%, #fee5b1 76%);
}
.europe:hover{
    background: none;
}
.gradient-europe{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease;
}
.europe:hover .gradient-europe{
    background-image:linear-gradient(to right, #1a2634 25%, 	#203e5f 26%, #203e5f 50%,
    #ffcc00 51%, #ffcc00 75%, #fee5b1 76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}


/*middle east*/
.middle-east{
    background:linear-gradient(to right, #1e2640 25%, 	#922c40 26%, #922c40 50%,
    #dc9750 51%, 	#dc9750 75%, #e5c100 76%);
}
.middle-east:hover{
    background: none;
}
.gradient-middle-east{
    display: inline-block;
    color: black;
    border: 2px solid transparent;

    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
    transition: all 0.3s ease;
}
.middle-east:hover .gradient-middle-east{
    background-image:linear-gradient(to right, #1e2640 25%, 	#922c40 26%, #922c40 50%,
    #dc9750 51%, 	#dc9750 75%, #e5c100 76%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}




/*reversed
.gradient-china{
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
    border-color: #004225;
    transition: all 0.3s ease;
    background-image:linear-gradient(to right, gold 20%, #CE1126 40%);
}
.china:hover {
    background-image: linear-gradient(to right, #CE1126 0%, #CE1126 100%);
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-color: transparent;
    
}
.china:hover .gradient-china{
    background: none;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: gold;
    color:#ECE0CD;
}*/



/* Report Page*/
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
    
}

.modal{
    animation: fadeIn 0.5s ease forwards;


    box-sizing: border-box;
    display: none;
    width: 70%;
    top: 5rem;
    bottom: 2rem;
    left: auto;
    right: auto;
    position: fixed;
    z-index: 1000;
    
    overflow:hidden;

    display: grid;
    justify-content:center;
    align-items: center;

    background-color:#ECE0CD;
    background-size: cover;
    background-position: center;
    border: 5px solid purple;
}

.modal-content{
    width: 90%;
    position:relative;
    text-align:left;
    margin: 0 auto;
    max-height: 90vh;

    overflow-y: auto;
    scrollbar-width: none; 
}

.close-btn{
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    z-index: 1001;
    font-size: 2rem; 
    color:purple;
}

.close-btn:hover{
    color:#ECE0CD;
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px black);
}

.modal-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "description image";
    gap: 2rem;
    align-items: start;
}

.header{
    text-align: left;
    grid-area: header;
}

.header p{
    font-family: Sorts Mill Goudy, serif;
    font-size: 1.2rem;
    background-color:antiquewhite;
    padding: 2rem;
    margin-bottom: -1rem;
    border: 3px solid #81874E;
}

.header h2{
    font-family: Cabin Sketch, serif;
    font-weight: bold;
    color:black;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.mexico-bg .header h2{
    color: white;
}

.india-bg .header h2{
    color: white;
}







.description{
    grid-area: description;
    font-size: 1rem;
    gap: 0.8rem;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.ingredients h3{
    font-family: Cabin Sketch, serif;
    color:#ECE0CD;
    font-weight: 300;
    font-size: 1.5rem;
}

.ingredients ul{
    font-family: Sorts Mill Goudy, serif;
    font-size: 1rem;
    color:#ECE0CD;
}

.steps h3{
    font-family: Cabin Sketch, serif;
    color:#ECE0CD;
    font-weight: 300;
    font-size: 1.5rem;
}

.steps ol{
    font-family: Sorts Mill Goudy, serif;
    font-size: 1rem;
    color:#ECE0CD;
}

.ingredients, .steps{
    background-color: #81874E;
    padding: 1.5rem;
    text-align: left;
    margin-top: 1rem;
    border: 3px solid #8D527E;

    /*max-height: none;
    min-height: auto;
    overflow-y: visible;*/

    max-height: 190px;
    min-height: 190px;
    overflow-y: auto;
}

.image{
    max-width: 100%;
    grid-area: image;
    text-align: right;
    background-color: antiquewhite;
    border: 3px solid #81874E;
    margin-top: 1rem;
    margin-bottom: 4rem;

}

/*background*/

.italy-bg{
    background-image: url('../images/italy.png');
}

.cross-bg{
    background-image: url('../images/cross-culture.png');
}

.china-bg{
    background-image: url('../images/china.png');
}

.mexico-bg{
    background-image: url('../images/mexico.png');
}

.africa-bg{
    background-image: url('../images/africa.png');
}

.east-europe-bg{
    background-image: url('../images/east-europe.png');
}

.ghana-bg{
    background-image: url('../images/ghana.png');
}

.arabic-bg{
    background-image: url('../images/arabic.png');
}

.poland-bg{
    background-image: url('../images/poland.png');
}

.ethiopia-bg{
    background-image: url('../images/ethiopia.png');
}

.india-bg{
    background-image: url('../images/india.png');
}

.egypt-bg{
    background-image: url('../images/egypt.png');
}

.jamaica-bg{
    background-image: url('../images/jamaica.png');
}

.europe-bg{
    background-image: url('../images/europe.png');
}

.middle-east-bg{
    background-image: url('../images/middle-east.png');
}






@media (max-width: 1200px){
    .home-page h1{
        font-size: 3.5rem;
        margin-top: 20vh;
        padding: 1.5rem;
    }

    .modal{
        width: 100%;
        top: 5rem;
        left: 0;
        right: 0;
    }

    .modal-content{
        width: 100%;
        padding: 1.5rem;
    }

    .description{
        width: 100%;
    }

    .modal-grid{
            grid-template-columns: 1fr;
            grid-template-areas: 
            "header"
            "description"
            "image";
            justify-items: center;
        }
        .image{
            text-align: center;
            width: 100%;
        }
    }

